################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/00_YuraProject/v15
/.vs
/CreateDevice.zip
/TCoreLib3D.zip
/.gitattributes
/SampleLib_0/x64/Debug
/x64/Debug
/TCoreLib3D/xCoreLib.lib
/alphablend
/Client_2/x64/Debug
